// If you want to override variables do it here
@import "variables";

// Import styles
@import "@coreui/coreui/scss/coreui";
@import "@coreui/chartjs/scss/coreui-chartjs";

// Vendors
@import "vendors/simplebar";

// Custom styles for this theme
@import "theme";

// If you want to add custom CSS you can put it here
@import "custom";

.button_register {
    background-color: #c5151c;
    color: #ffffff; // Texto blanco
    border: none;  // Remueve el borde si es necesario
  }
  
  .button_register:hover {
    background-color: #a01315; // Un tono más oscuro para el hover
  }
  